.page {
  background-color: #000;
}

.page__content {
  margin: auto;
  flex-direction: column;
  max-width: 1280px;
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
}

.page__container {
  max-width: 880px;
  margin: auto;
}
